# Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/

# Python packaging
*.egg
*.egg-info/
dist/
build/
*.whl

# PyInstaller
*.manifest
*.spec

# Logs and databases
*.log
*.sqlite3
*.db

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
env_example.txt
# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db
