# force rebuild
altair
annotated-types
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
distro
dotenv
et_xmlfile
faiss-cpu
filelock
Flask
fsspec
git-filter-repo
gitdb
GitPython
google-auth
google-auth-httplib2
google-auth-oauthlib
gspread
h11
httpcore
httplib2
httpx
httpx-sse
huggingface-hub
idna
itsdangerous
Jinja2
jiter
joblib
jsonschema
jsonschema-specifications
MarkupSafe
mcp
mpmath
narwhals
networkx
numpy
oauthlib
openai
openpyxl
packaging
pandas
pillow
plotly
protobuf
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic-settings
pydantic_core
pydeck
PyMySQL
pyparsing
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
referencing
regex
requests
requests-oauthlib
rpds-py
rsa
safetensors
scikit-learn
scipy
sentence-transformers
six
slack_sdk
smmap
sniffio
sse-starlette
starlette
streamlit
sympy
tenacity
threadpoolctl
tokenizers
toml
torch
tornado
tqdm
transformers
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
watchdog
Werkzeug
